<div class="about-page">
  <mat-card>
    <mat-card-header>
      <img
        src="../../assets/imgs/profile-picture.jpg"
        alt="Avatar Photo"
        mat-card-lg-image
      />
      <mat-card-title>
        <h2>Ali Mhajna</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h2>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi rem
        deserunt quae nobis possimus, quos iure qui? Laudantium, laborum
        voluptates accusamus quis autem sunt quasi nam sapiente, quia earum
        mollitia ullam neque! Laborum facere animi vitae nisi similique tenetur
        nobis fugiat dolores nostrum fuga quam itaque, numquam, qui explicabo
        quisquam!
      </h2>
    </mat-card-content>
  </mat-card>
</div>
