@import "../../variables";
.about-page {
  padding-top: 5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  > h2 {
    font-size: 2rem;
    color: inherit;
  }
  mat-card {
    color: inherit;
    margin-top: 5rem;
    mat-card-header {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        box-shadow: 0 0 10px 5px darken($white, 10%);
        border-radius: 50%;
        position: relative;
        top: -75px;
      }
    }
    mat-card-content {
      h2 {
        text-align: center;
      }
    }
    mat-card-actions {
      display: flex;
      justify-content: center;
    }
  }
}
@media screen and (max-width: 960px) {
  mat-card.mat-card.mat-focus-indicator {
    width: 80%;
  }
}
