<div class="about-page">
  <mat-card>
    <mat-card-header>
      <img
        src="../../assets/imgs/profile-picture.jpg"
        alt="Avatar Photo"
        mat-card-lg-image
      />
      <mat-card-title>
        <h2>Ali Mhajna</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero omnis
        deleniti saepe minus rerum aliquid, in distinctio amet modi esse
        accusamus necessitatibus, quisquam incidunt ducimus ratione fuga
        tempore, corporis eligendi id nihil quo et libero consectetur? Repellat,
        quas commodi explicabo debitis, earum corporis magni expedita qui
        nostrum temporibus ducimus unde exercitationem quae dicta incidunt
        veritatis id nobis illum aliquam, aut minus hic? Dignissimos, temporibus
        sint!
      </h2>
      <app-skills-page></app-skills-page>
    </mat-card-content>
  </mat-card>
</div>
