<div class="about-page">
  <h2>About Me</h2>
  <mat-card>
    <mat-card-header>
      <img
        src="../../assets/imgs/profile-picture.jpg"
        alt="Avatar Photo"
        mat-card-lg-image
      />
    </mat-card-header>
    <mat-card-content>
      <h2>
        Since a young age I already knew that my passion and goal in life to be
        a programmer and that knowledge came from the Appleseeds Program called
        Net@,there I learned how to make games using the Unity game engine and
        felt a deep connection with programming but also building things in
        general and that connection came full circle when I became aware of the
        Full-stack bootcamp that was also by Appleseeds, there I leveled up my
        logical and technical skills by a great margin,I'm also a Hardcore Gamer
        playing all kinds of games ranging from slow-paced Real-time-Strategy
        games to fast-paced First-Person-Shooters.
      </h2>
      <h2>
        Currently looking for my first job to get into this vast galaxy that is
        called Software Development
      </h2>
      <app-skills-page></app-skills-page>
    </mat-card-content>
    <mat-card-actions>
      <a
        mat-raised-button
        color="accent"
        download="AliMhajna-CV.pdf"
        href="../../assets/myCV.pdf"
      >
        Download Resume
      </a>
    </mat-card-actions>
  </mat-card>
</div>
