@import "../variables";
mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgba(245, 245, 245, 0.75);
  ul {
    color: $primary;
    display: flex;
    list-style-type: none;
    justify-content: center;
    width: 100%;
    li {
      margin: 0 2rem;
      a {
        border: 2px solid transparent;
        transition: border-color 0.25s ease;
        &:hover {
          border-bottom-color: $accent;
        }
      }
    }
  }
}
