<div [ngClass]="{ app: true, dark: isDark, 'mat-app-background': true }">
  <mat-toolbar>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
    </ul>
    <button mat-raised-button (click)="toggleDark()">
      <fa-icon [icon]="isDark ? dark : light"></fa-icon>
    </button>
  </mat-toolbar>
  <div class="page-grid">
    <app-landing-page id="home"></app-landing-page>
    <app-about-page id="about"></app-about-page>
    <app-project-page id="projects"></app-project-page>
  </div>
  <footer>
    &copy; Ali Mhajna
    <div class="social-media">
      <a href="https://github.com/blackzero172" mat-mini-fab target="_blank"
        ><fa-icon [icon]="github"></fa-icon
      ></a>
      <a
        href="https://www.linkedin.com/in/ali-mhajna-5272a7226/"
        mat-mini-fab
        target="_blank"
        ><fa-icon [icon]="linkedin"></fa-icon
      ></a>
      <a href="mailto:alimhajna39@gmail.com" mat-mini-fab target="_blank"
        ><fa-icon [icon]="mail"></fa-icon
      ></a>
      <a href="tel:0505900466" mat-mini-fab
        ><fa-icon [icon]="phone"></fa-icon
      ></a>
    </div>
  </footer>
</div>
