@import "../variables";
.app {
  color: $text-primary;
  &.dark {
    color: $primary;
  }
}
.page-grid {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(100vh, 1fr));
}
.mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 1;
  justify-content: center;
  color: inherit;
  ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    width: 100%;
    li {
      margin: 0 2rem;
      a {
        border: 2px solid transparent;
        transition: border-color 0.25s ease;
        &:hover {
          border-bottom-color: $accent;
        }
      }
    }
    button {
      margin-left: auto;
    }
  }
}
footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: inherit;
  font-size: 1.3rem;
  .social-media {
    display: flex;
  }
  a {
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    fa-icon {
      font-size: 1.5rem;
    }
  }
}
