<div class="skills-page">
  <mat-card>
    <mat-card-title> My Skills </mat-card-title>
    <mat-card-content>
      <div class="front-end-container">
        <h2>Front-end</h2>
        <app-progress-bar label="HTML5" percent="95"></app-progress-bar>
        <app-progress-bar label="CSS3" percent="95"></app-progress-bar>
        <app-progress-bar label="JavaScript" percent="90"></app-progress-bar>
        <app-progress-bar label="ReactJS" percent="90"></app-progress-bar>
        <app-progress-bar label="Angular" percent="70"></app-progress-bar>
      </div>
      <div class="back-end-container">
        <h2>Back-end</h2>
        <app-progress-bar label="Node.js" percent="90"></app-progress-bar>
        <app-progress-bar label="Express" percent="95"></app-progress-bar>
        <app-progress-bar label="MongoDB" percent="95"></app-progress-bar>
        <app-progress-bar label="Flask" percent="80"></app-progress-bar>
        <app-progress-bar label="Python" percent="75"></app-progress-bar>
      </div>
    </mat-card-content>
  </mat-card>
</div>
