<div class="skills-page">
  <mat-card>
    <mat-card-title> My Skills </mat-card-title>
    <mat-card-content>
      <h2>Front-end</h2>
      <app-progress-bar
        label="HTML5"
        percent="95"
        icon="html"
      ></app-progress-bar>
      <app-progress-bar label="CSS3" percent="95" icon="css"></app-progress-bar>
      <app-progress-bar
        label="SCSS"
        percent="90"
        icon="scss"
      ></app-progress-bar>
      <app-progress-bar
        label="JavaScript"
        percent="90"
        icon="js"
      ></app-progress-bar>
      <app-progress-bar
        label="ReactJS"
        percent="90"
        icon="react"
      ></app-progress-bar>
      <app-progress-bar
        label="Angular"
        percent="80"
        icon="angular"
      ></app-progress-bar>
      <h2>Back-end</h2>
      <app-progress-bar
        label="Node.js"
        percent="90"
        icon="node"
      ></app-progress-bar>
      <app-progress-bar label="Express" percent="95"></app-progress-bar>
      <app-progress-bar
        label="MongoDB"
        percent="95"
        icon="mongo"
      ></app-progress-bar>
      <app-progress-bar
        label="Flask"
        percent="80"
        icon="flask"
      ></app-progress-bar>
      <app-progress-bar
        label="Python"
        percent="75"
        icon="python"
      ></app-progress-bar>
    </mat-card-content>
  </mat-card>
</div>
