.skills-page {
  display: flex;
  justify-content: center;
  align-items: center;
  mat-card-title {
    text-align: center;
  }
  mat-card-content {
    display: flex;
  }
  mat-card {
    width: 70%;
  }
  app-progress-bar {
    margin: 2rem;
  }
}
.front-end-container,
.back-end-container {
  flex: 1;
  padding: 0.3rem 1rem;
  text-align: center;
}
