// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

@include mat.core();

$Portfolio-primary: mat.define-palette(mat.$indigo-palette, 200);
$Portfolio-accent: mat.define-palette(mat.$blue-palette, 600);
$Portfolio-warn: mat.define-palette(mat.$red-palette);
$Portfolio-theme: mat.define-light-theme(
  (
    color: (
      primary: $Portfolio-primary,
      accent: $Portfolio-accent,
      warn: $Portfolio-warn,
    ),
  )
);
$Portfolio-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $Portfolio-primary,
      accent: $Portfolio-accent,
      warn: $Portfolio-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Portfolio-theme);
.dark {
  @include mat.all-component-themes($Portfolio-dark-theme);
}
/* You can add global styles to this file, and also import other style files */
@import "./variables";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
  color: unset;
}
mat-card.mat-card.mat-focus-indicator {
  width: 50%;
  color: inherit;
  box-shadow: 0 0 5px 2px darken($white, 10%);
}
fa-icon {
  svg {
    &[data-icon="html5"] {
      color: orangered;
    }
    &[data-icon="css3-alt"],
    &[data-icon="react"],
    &[data-icon="python"] {
      color: $accent;
    }
    &[data-icon="js-square"] {
      color: rgb(222, 222, 0);
    }
    &[data-icon="angular"] {
      color: red;
    }
    &[data-icon="node-js"] {
      color: rgb(138, 205, 36);
    }
    &[data-icon="database"] {
      color: green;
    }
    &[data-icon="flask"] {
      color: black;
    }
  }
}
